html {
  padding: 0px;
  margin: 0px; }

body {
  padding: 0px;
  margin: 0px;
  background: linear-gradient(to top, #000000 0%, #666699 100%); }

.navbar {
  padding: 10px;
  margin-bottom: 5px;
  font-family: 'Rockwell', Rockwell, serif; }

.playlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*.search-bar input::-webkit-search-decoration {
        -webkit-appearance: none;
    }*/
  /* Active state */ }
  .playlist p {
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Rockwell', Rockwell, serif;
    font-size: 1.4em;
    color: white;
    text-align: center; }
  .playlist * {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  .playlist :root {
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320)); }
  .playlist body, .playlist button, .playlist input {
    font: 1em "Rockwell", serif;
    line-height: 1.5em; }
  .playlist body, .playlist input {
    color: #171717; }
  .playlist body, .playlist .search-bar {
    display: flex; }
  .playlist body {
    background: #f1f1f1;
    height: 50vh; }
  .playlist .search-bar input,
  .playlist .search-btn,
  .playlist .search-btn:before,
  .playlist .search-btn:after {
    transition: all 0.25s ease-out; }
  .playlist .search-bar input,
  .playlist .search-btn {
    width: 3em;
    height: 3em; }
  .playlist .search-bar input:invalid:not(:focus),
  .playlist .search-btn {
    cursor: pointer; }
  .playlist .search-bar,
  .playlist .search-bar input:focus,
  .playlist .search-bar input:valid {
    width: 100%; }
  .playlist .search-bar input:focus,
  .playlist .search-bar input:not(:focus) + .search-btn:focus {
    outline: transparent; }
  .playlist .search-bar {
    padding: 0;
    justify-content: right;
    max-width: 20em; }
  .playlist .search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.5em;
    transform: translate(0.5em, 0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .playlist .search-bar input:focus,
  .playlist .search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1); }
  .playlist .search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
    transform-origin: 0 50%; }
  .playlist .search-btn:before,
  .playlist .search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute; }
  .playlist .search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em; }
  .playlist .search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em, 0) rotate(45deg);
    transform-origin: 0 50%; }
  .playlist .search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px; }
  .playlist .search-bar input:focus + .search-btn,
  .playlist .search-bar input:valid + .search-btn {
    background: #241462;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1); }
  .playlist .search-bar input:focus + .search-btn:before,
  .playlist .search-bar input:focus + .search-btn:after,
  .playlist .search-bar input:valid + .search-btn:before,
  .playlist .search-bar input:valid + .search-btn:after {
    opacity: 1; }
  .playlist .search-bar input:focus + .search-btn:hover,
  .playlist .search-bar input:valid + .search-btn:hover,
  .playlist .search-bar input:valid:not(:focus) + .search-btn:focus {
    background: #241462; }
  .playlist .search-bar input:focus + .search-btn:active,
  .playlist .search-bar input:valid + .search-btn:active {
    transform: translateY(1px); }
  @media screen and (prefers-color-scheme: dark) {
    .playlist body, .playlist input {
      color: #f1f1f1; }
    .playlist body {
      background: #171717; }
    .playlist .search-bar input {
      box-shadow: 0 0 0 0.4em #f1f1f1 inset; }
    .playlist .search-bar input:focus,
    .playlist .search-bar input:valid {
      background: #3d3d3d;
      box-shadow: 0 0 0 0.1em #3d3d3d inset; }
    .playlist .search-btn {
      background: #f1f1f1; } }

.container {
  margin-top: 10px;
  margin-bottom: 10px; }

.row {
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 20px; }
  .row .col {
    padding: none; }
  .row img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover; }
  .row h2 {
    margin: 5px;
    font-family: 'Rockwell', Rockwell, serif;
    font-size: .95em;
    text-align: center;
    color: white; }
  .row h3 {
    font-family: 'Rockwell', Rockwell, serif;
    font-size: 0.75em;
    text-align: center;
    color: white; }

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*.search-bar input::-webkit-search-decoration {
        -webkit-appearance: none;
    }*/
  /* Active state */ }
  .search h2 {
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Rockwell', Rockwell, serif;
    font-size: 1.2em;
    color: white;
    text-align: center; }
  .search * {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  .search :root {
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320)); }
  .search body, .search button, .search input {
    font: 1em "Rockwell", serif;
    line-height: 1.5em; }
  .search body, .search input {
    color: #171717; }
  .search body, .search .search-bar {
    display: flex; }
  .search body {
    background: #f1f1f1;
    height: 50vh; }
  .search .search-bar input,
  .search .search-btn,
  .search .search-btn:before,
  .search .search-btn:after {
    transition: all 0.25s ease-out; }
  .search .search-bar input,
  .search .search-btn {
    width: 3em;
    height: 3em; }
  .search .search-bar input:invalid:not(:focus),
  .search .search-btn {
    cursor: pointer; }
  .search .search-bar,
  .search .search-bar input:focus,
  .search .search-bar input:valid {
    width: 100%; }
  .search .search-bar input:focus,
  .search .search-bar input:not(:focus) + .search-btn:focus {
    outline: transparent; }
  .search .search-bar {
    padding: 0;
    justify-content: right;
    max-width: 20em; }
  .search .search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.5em;
    transform: translate(0.5em, 0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .search .search-bar input:focus,
  .search .search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1); }
  .search .search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
    transform-origin: 0 50%; }
  .search .search-btn:before,
  .search .search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute; }
  .search .search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em; }
  .search .search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em, 0) rotate(45deg);
    transform-origin: 0 50%; }
  .search .search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px; }
  .search .search-bar input:focus + .search-btn,
  .search .search-bar input:valid + .search-btn {
    background: #241462;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1); }
  .search .search-bar input:focus + .search-btn:before,
  .search .search-bar input:focus + .search-btn:after,
  .search .search-bar input:valid + .search-btn:before,
  .search .search-bar input:valid + .search-btn:after {
    opacity: 1; }
  .search .search-bar input:focus + .search-btn:hover,
  .search .search-bar input:valid + .search-btn:hover,
  .search .search-bar input:valid:not(:focus) + .search-btn:focus {
    background: #241462; }
  .search .search-bar input:focus + .search-btn:active,
  .search .search-bar input:valid + .search-btn:active {
    transform: translateY(1px); }
  @media screen and (prefers-color-scheme: dark) {
    .search body, .search input {
      color: #f1f1f1; }
    .search body {
      background: #171717; }
    .search .search-bar input {
      box-shadow: 0 0 0 0.4em #f1f1f1 inset; }
    .search .search-bar input:focus,
    .search .search-bar input:valid {
      background: #3d3d3d;
      box-shadow: 0 0 0 0.1em #3d3d3d inset; }
    .search .search-btn {
      background: #f1f1f1; } }

h3 {
  font-family: 'Rockwell', Rockwell, serif;
  font-size: small;
  color: #c4c3c3;
  padding-left: 10px;
  margin-top: 0px; }

.table {
  cursor: pointer; }
  .table thead {
    text-align: center;
    font-family: 'Rockwell', Rockwell, serif;
    font-weight: bolder; }
  .table th, .table td {
    text-align: center;
    font-family: 'Rockwell', Rockwell, serif;
    font-weight: 100; }

.announcement {
  margin-top: 50px;
  color: #ccc;
  font-family: 'Rockwell', Rockwell, serif;
  text-align: center; }

div.form {
  display: block;
  text-align: center;
  margin-top: 10px; }

/* Style inputs */
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  justify-content: center;
  background-color: #ededed;
  font-family: 'Rockwell', Rockwell, serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

/* Style the submit button */
input[type=submit] {
  width: 50%;
  background-color: #3a2c70;
  font-family: 'Rockwell', Rockwell, serif;
  color: white;
  display: inline-block;
  justify-content: center;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #241462; }
